.wrapper {
    max-width: 960px;
    margin: 0 auto;
    background-color: #EBD9CF;
}

header {
    background-image: url('../images/trees-bg.jpg');
    background-repeat: no-repeat;
    height: 150px;
    width: 960px;
    align-content: space-between;
}

main {
    margin: 3rem;
}

header h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
    margin: 0 auto;
    padding-top: .5rem;
    padding-left: 3rem;
}

header h2 {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: start;
    padding-top: 3rem;
    padding-left: 3rem;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
}

ul {
    font-family: 'Raleway', sans-serif;
    padding-bottom: 5px;
}

li {
    padding-bottom: 4px;
}

button {
    background-color: #84839E;
    color: white;
    display: flex;
    border-radius: 5px;
    border: 0px;
    margin: 5px 0;
    height: 30px;
    width: 300px;
    justify-content: center;
    padding: 7px;
}

button:hover {
    background-color: #C2EBB7;
    color: #9E877B;
    cursor: pointer;
}

#fortuneBox {
    text-align: center;
    background-color: #999DFF;
    padding: 5px 0;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
}

#fortuneBox h2 {
    font-family: 'Alex Brush', cursive;
}

footer {
    font-family: 'Raleway', sans-serif;
    background-color: #C2EBB7;
    padding: 10px;
    text-align: center;
    color: #9E877B;
}