.wrapper {
    max-width: 960px;
    margin: 0 auto;
    background-color: #EBD9CF;
    font-family: 'Raleway', sans-serif;
}

header {
    background-image: url(/Unit06/images/garden-background.jpg);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rabbitHeader {
    padding-left: 60px;
}

main {
    text-align: center;
}

ul {
    margin-left: 60px;
}

li {
    padding-bottom: 4px;
}

#storyBoxes {
    display: flex;
    justify-content: space-evenly;
}

#storyBoxes div {
    margin: 0px 25px;
}

textarea {
    height: 150px;
}

p {
    margin: 20px 60px;
}

button {
    background-color: #6C9E9C;
    color: white;
    padding: 7.5px 60px;
    margin-top: 25px;
    border-radius: 5px;
    border: 1px solid #FFFCFA;
    font-family: 'Raleway', sans-serif;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: #CEEBEA;
    color: #6C9E9C;
}

span {
    color: #FFFCFA;
}

footer {
    font-family: 'Raleway', sans-serif;
    background-color: #CEEBEA;
    padding: 10px;
    text-align: center;
    color: #9E877B;
}